@use '../Global';

.header {
  box-shadow: 0px 1px 5px Global.$darkBlue;

  &__contact {
    max-height: 35px;
    height: 100%;
    padding: 6px 0;

    @include Global.breakpoint(tablet) {
      max-height: 45px;
    }
  }
  &__contact-body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include Global.breakpoint(tablet) {
      justify-content: flex-start;
    }
  }
  &__contact-info {
    display: flex;
    align-items: center;

    @include Global.breakpoint(tablet) {
      &:first-child {
        margin-right: 30px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          right: -18px;
          color: Global.$main;
          width: 1.5px;
          height: 20px;
          border-radius: 100px;
          background-color: Global.$main;
        }
      }
    }
  }

  &__contact-text {
    font-size: 12px;
    margin-left: 5px;
    color: Global.$darkBlue;
    font-weight: 500;

    @include Global.breakpoint(tablet) {
      font-size: 14px;
    }
  }
}

.nav {
  background-color: Global.$main;
  max-height: 65px;
  padding: 2.5px 0;
  &__logo {
    max-width: 48px;
    width: 100%;

    @include Global.breakpoint(tablet) {
      max-width: 60px;
    }

    &-link {
      display: block;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__toggle-btn {
    border: none;
    background-color: transparent;
    max-width: 50px;
    width: 100%;
    max-height: 50px;
    height: 100%;

    @include Global.breakpoint(tablet) {
      display: none;
    }
  }
  &__list {
    display: none;
    justify-content: space-between;
    @include Global.breakpoint(tablet) {
      display: flex;
    }
  }

  &__item {
    &:first-child {
      margin-right: 35px;
    }
  }

  &__link {
    font-weight: 500;
    color: Global.$darkBlue;
    font-size: 24px;

    @include Global.breakpoint(desktop) {
      transition: color 0.3s linear;
      &:hover {
        color: Global.$white;
      }
    }
  }
}

.nav__toggle-btn {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: Global.$darkBlue;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.nav__toggle-btn--anim .top {
  stroke-dasharray: 40 139;
}
.nav__toggle-btn--anim .bottom {
  stroke-dasharray: 40 180;
}
.nav__toggle-btn--anim.active .top {
  stroke-dashoffset: -98px;
}
.nav__toggle-btn--anim.active .bottom {
  stroke-dashoffset: -138px;
}
