@use "../Global" as *;

.home {
  height: 100%;
  padding: rem(40)  0;
  background: url("../../Assets/home.webp") center / cover no-repeat;

  @include breakpoint(tablet) {
    padding: rem(80)  0;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    @include breakpoint(tablet) {
      max-width: rem(450);
      margin: 0 auto;
    }
  }

  &__logo {
    max-width: rem(80);
    width: 100%;
    @include breakpoint(tablet) {
      max-width: rem(140);
    }
  }

  &__title {
    font-size: rem(60);
    font-weight: 900;
    letter-spacing: rem(1.5);
    color: $white;

    @include breakpoint(tablet) {
      font-size: rem(96);
    }
  }

  &__text {
    color: $white;
    margin: rem(25) 0;
    font-size: rem(14);
    letter-spacing: rem(1.5);
    line-height: 144.7%;
    @include breakpoint(tablet) {
      margin: rem(24) 0 rem(66);
      font-size: rem(18);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include breakpoint(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__btn {
    max-width: rem(200);
    color: $white;

    &:first-child {
      margin-bottom: rem(25);

      @include breakpoint(tablet) {
        margin: 0;
      }
    }
  }
}
