@use "../Global" as glb;

.home {
  height: 100%;
  padding: glb.rem(40) 0;
  position: relative;

  &__bg {
    position: absolute;
    inset: 0;
    height: 100%;
    z-index: -1;
    background-color: glb.$black;

    &-img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      inset: inherit;
      transition: 550ms linear;
      opacity: 0;
      filter: blur(glb.rem(2.5)) brightness(40%);
    }
  }

  @include glb.breakpoint(tablet) {
    padding: rem(80) 0;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    @include glb.breakpoint(tablet) {
      max-width: glb.rem(450);
      margin: 0 auto;
    }
  }

  &__logo {
    max-width: glb.rem(80);
    width: 100%;
    @include glb.breakpoint(tablet) {
      max-width: glb.rem(140);
    }
  }

  &__title {
    font-size: glb.rem(60);
    font-weight: 900;
    letter-spacing: glb.rem(1.5);
    color: glb.$white;

    @include glb.breakpoint(tablet) {
      font-size: glb.rem(96);
    }
  }

  &__text {
    color: glb.$white;
    margin: glb.rem(25) 0;
    font-size: glb.rem(14);
    letter-spacing: glb.rem(1.5);
    line-height: 144.7%;
    @include glb.breakpoint(tablet) {
      margin: glb.rem(24) 0 glb.rem(66);
      font-size: glb.rem(18);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include glb.breakpoint(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__btn {
    max-width: glb.rem(200);
    color: glb.$white;

    &:first-child {
      margin-bottom: glb.rem(25);

      @include glb.breakpoint(tablet) {
        margin: 0;
      }
    }
  }
}
