@use '../Global';

.input-wrapper {
  width: 100%;
  display: block;

  &__input {
    width: 100%;
    padding: 6.5px 10px;
    border-radius: 100px;
    border: 1px solid Global.$main;
    font-size: 16px;
    font-weight: 500;
    color: Global.$darkBlue;
    margin-bottom: 15px;
    outline: none;
    transition: background 0.3s ease-in-out;

    &:focus {
      background-color: Global.$main;
      color: white;
    }

    @include Global.breakpoint(tablet) {
      padding: 10px;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}
