@use "../Global" as *;
.sideNav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  transition: z-index 0.5s step-end, background 0.5s linear;
  overflow: hidden;
  z-index: -1;
  inset: 0;
  top: 90px;
  // min-height: 100vh;

  @include breakpoint(tablet) {
    display: none;
  }

  &__list {
    background-color: $white;
    width: 80%;
    padding: rem(30) rem(20);
    position: relative;
    right: -80%;
    transition: right 0.5s ease;
    height: 300%;
  }

  &__item {
    padding: rem(10);
    text-align: center;
    display: grid;
    place-items: center;
    width: 100%;

    &:last-child {
      border-top: rem(1.5) solid $main;
      padding-top: rem(20);
      margin-top: rem(50);
    }
  }

  &__link {
    color: $darkBlue;
    // font-size: rem(36);
    font-size: rem(22);
    border-radius: 100px;
    padding: 4px 30px;
    border: 1px solid transparent;

    &--green {
      border-color: #a8eb12;
    }

    &--blue {
      border-color: #0092ff;
    }
  }

  &__btn {
    display: block;
    font-size: rem(24);
    max-width: rem(200);
    width: 100%;
    padding: rem(5.5) 0;
    border-radius: rem(100);
    border: rem(1) solid $main;
    background-color: transparent;
    color: $darkBlue;
    text-align: center;
    font-weight: bold;
  }

  &__papersButtons {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    margin-top: rem(30);
    justify-content: space-evenly;
  }

  &__paperButton {
    background: transparent;
    border: 1px solid $main;
    border-radius: 6px;
    padding: rem(8);
    color: $black;
  }
}

.open {
  right: 0;
}

.openNav {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  transition: z-index 0.5s step-start, background 0.5s linear;
}
