@use '../Global' as *;

.slider {
  overflow: hidden;
  max-width: rem(1920);
  width: 100%;
  height: auto;
  margin: 0 auto;

  @include breakpoint(tablet) {
    max-height: rem(600);
  }
  &__list {
    display: flex;
    position: relative;
    transition: left 0.4s ease;
  }

  &__image {
    object-fit: cover;
  }
}
