@use '../Global' as *;

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(tablet) {
    margin-left: auto;
  }
  &__item {
    max-height: rem(24);
    &:nth-child(2) {
      margin: 0 rem(10);
    }
  }
}
