@use './Global' as *;
@use './Components';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul,
li,
dl {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  margin: 0 auto;
  max-width: rem(300);
  width: 100%;

  @include breakpoint(tablet) {
    max-width: rem(700);
  }
}

.btn {
  font-size: rem(24);
  font-weight: 500;
  letter-spacing: rem(1);
  padding: rem(5.5) 0;
  width: 100%;
  border-radius: rem(100);
  border: rem(1.5) solid $main;
  background-color: transparent;
  display: block;
  transition: background 0.3s ease-in-out;

  @include breakpoint(tablet) {
    &:hover {
      background-color: $main;
      cursor: pointer;
    }
  }
}


#root {
  min-height: 100vh;
}

main {
  position: relative;
 min-height: 100vh;
}

@font-face {
  font-family: "Poppins";
  src: url('../Assets/Fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url('../Assets/Fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url('../Assets/Fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url('../Assets/Fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url('../Assets/Fonts/Poppins-Black.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}