@use './Global' as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import "react-multi-carousel/lib/styles.css";

*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul,
li,
dl {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  margin: 0 auto;
  max-width: rem(300);
  width: 100%;

  @include breakpoint(tablet) {
    max-width: rem(700);
  }
}

.btn {
  font-size: rem(24);
  font-weight: 500;
  letter-spacing: rem(1);
  padding: rem(5.5) 0;
  width: 100%;
  border-radius: rem(100);
  border: rem(1.5) solid $main;
  background-color: transparent;
  display: block;
  transition: background 0.3s ease-in-out;

  @include breakpoint(tablet) {
    &:hover {
      background-color: $main;
      cursor: pointer;
    }
  }
}
